# BIG-IP Environment
adminSrcAddr = "0.0.0.0/0"
vpcId        = "vpc-1234"
extSubnetAz1 = "subnet-1234"
extSubnetAz2 = "subnet-5678"
ssh_key      = "ssh-rsa AAABC123....."
f5_username  = "admin"
f5_password  = "Default12345!"

# AWS Environment
awsRegion     = "us-west-2"
projectPrefix = "mydemo"
resourceOwner = "myname"
