# BIG-IP Environment
adminSrcAddr = "0.0.0.0/0"
vpcId        = "vpc-1234"
extSubnetAz1 = "subnet-1234"
extSubnetAz2 = "subnet-5678"
extNsg       = "sg-0123"
ec2_key_name = "mySshKey123"
f5_username  = "admin"
f5_password  = "Default12345!"

# AWS Environment
awsRegion     = "us-west-2"
projectPrefix = "mydemo"
resourceOwner = "myname"

# Secrets Manager - Uncomment to use Secret Manager integration
#aws_secretmanager_auth      = true
#aws_secretmanager_secret_id = "arn:aws:secretsmanager:us-west-2:xxxx:secret:mySecret123"
#aws_iam_instance_profile    = "myRole123"
