# Azure Environment
sp_subscription_id = "xxxxx"
sp_client_id       = "xxxxx"
sp_client_secret   = "xxxxx"
sp_tenant_id       = "xxxxx"
location           = "westus2"
adminSrcAddr       = "0.0.0.0/0"

# Prefix for objects being created
prefix = "mydemo123"
