# BIG-IP Environment
uname        = "admin"
usecret      = "my-secret"
gceSshPubKey = "ssh-rsa xxxxx"
prefix       = "mydemo123"
adminSrcAddr = "0.0.0.0/0"
extVpc       = "xxxxx-net-ext"
extSubnet    = "xxxxx-subnet-ext"
dns_suffix   = "example.com"

# BIG-IQ Environment
bigIqUsername = "admin"

# Google Environment
gcp_project_id = "xxxxx"
gcp_region     = "us-west1"
gcp_zone       = "us-west1-b"
svc_acct       = "xxxxx@xxxxx.iam.gserviceaccount.com"
privateKeyId   = "abcdcba123321"
ksecret        = "svc-acct-secret"
