# BIG-IP Environment
uname          = "admin"
usecret        = "my-secret"
gceSshPubKey   = "ssh-rsa xxxxx"
projectPrefix  = "mydemo123"
adminSrcAddr   = "0.0.0.0/0"
mgmtVpc        = "xxxxx-net-mgmt"
extVpc         = "xxxxx-net-ext"
intVpc         = "xxxxx-net-int"
mgmtSubnet     = "xxxxx-subnet-mgmt"
extSubnet      = "xxxxx-subnet-ext"
intSubnet      = "xxxxx-subnet-int"
dns_suffix     = "example.com"
alias_ip_range = "10.1.10.130/32"
# BIG-IQ Environment
bigIqUsername = "admin"

# Google Environment
gcp_project_id = "xxxxx"
gcp_region     = "us-west1"
gcp_zone_1     = "us-west1-a"
svc_acct       = "xxxxx@xxxxx.iam.gserviceaccount.com"
