# BIG-IP Environment
adminAccountName = "gcpadmin"
gceSshPubKey     = "ssh-rsa xxxxx
projectPrefix    = "mydemo123-"
adminSrcAddr     = "0.0.0.0/0"
mgmtVpc          = "xxxxx-net-mgmt"
extVpc           = "xxxxx-net-ext"
mgmtSubnet       = "xxxxx-subnet-mgmt"
extSubnet        = "xxxxx-subnet-ext"

# Google Environment
GCP_PROJECT_ID = "xxxxx"
GCP_REGION     = "us-west1"
GCP_ZONE       = "us-west1-b"
