resourceOwner = "fred"
location      = "westus2"
ssh_key       = "~/.ssh/id_rsa.pub"
projectPrefix = "demo"
adminSrcAddr  = "0.0.0.0/0"

# Key Vault - Uncomment to use Key Vault integration
#az_keyvault_authentication = true
#keyvault_rg                = "myKv-rg-123"
#keyvault_name              = "myKv-123"
#user_identity              = "/subscriptions/xxxx/resourceGroups/myRg123/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myManagedId123"
