# AWS Network Load Balancer

############################ NLB ############################

# Create NLB for the webapp traffic
module "nlb" {
  source             = "terraform-aws-modules/alb/aws"
  version            = "8.4.0"
  name               = format("%s-nlb-%s", var.projectPrefix, random_id.buildSuffix.hex)
  load_balancer_type = "network"
  vpc_id             = module.applicationVpc.vpc_id
  subnets            = module.applicationVpc.public_subnets

  target_groups = [
    {
      name             = format("%s-tg-webapp-%s", var.projectPrefix, random_id.buildSuffix.hex)
      backend_protocol = "TCP"
      backend_port     = 80
      target_type      = "instance"
    }
  ]

  http_tcp_listeners = [
    {
      port               = 80
      protocol           = "TCP"
      target_group_index = 0
    }
  ]

  tags = {
    Name  = format("%s-nlb-%s", var.projectPrefix, random_id.buildSuffix.hex)
    Owner = var.resourceOwner
  }
}
