# BIG-IP Environment
uname      = "azureuser"
upassword  = "Default12345!"
ssh_key    = "ssh-rsa REDACTED me@my.email"
vnet_rg    = "myVnetRg"
vnet_name  = "myVnet123"
mgmtSubnet = "mgmt"
extSubnet  = "external"
intSubnet  = "internal"

# Azure Environment
location      = "westus2"
projectPrefix = "mydemo123"
owner         = "myLastName"
