# BIG-IP Environment
uname        = "admin"
usecret      = "my-secret"
gceSshPubKey = "ssh-rsa xxxxx"
prefix       = "mydemo123"
adminSrcAddr = "0.0.0.0/0"
mgmtVpc      = "xxxxx-net-mgmt"
extVpc       = "xxxxx-net-ext"
intVpc       = "xxxxx-net-int"
mgmtSubnet   = "xxxxx-subnet-mgmt"
extSubnet    = "xxxxx-subnet-ext"
intSubnet    = "xxxxx-subnet-int"
dns_suffix   = "example.com"

# BIG-IQ Environment
bigIqUsername = "admin"

# Google Environment
gcp_project_id = "xxxxx"
gcp_region     = "us-west1"
gcp_zone       = "us-west1-b"
svc_acct       = "xxxxx@xxxxx.iam.gserviceaccount.com"
